<link rel="stylesheet" href="/css/home.css">
<div class="header">
    <div class="d-flex">
        <img src="{{user.avatar}}"/>
        <p class="header-name">{{user.name}}</p>
    </div>
    <button>Logout</button>
</div>
<div class="todoList">
    <div class="todoList-add">
        <input type="text"/>
        <button>Add</button>
    </div>
    <div class="todoList-list">
        <ul>
            <li class="d-flex">
                <p>Complete SS2 Final Project</p>
                <button>Done</button>
                <button>Delete</button>
            </li>
        </ul>
    </div>
</div>