<link rel="stylesheet" href="/css/login.css">
<div class="login-container">
    <div class="login-title">
        <h1><i class="fa-solid fa-book"></i> TODO APP</h1>
        <div class="sub-title">
            <p>welcome to my simple todo app</p>
            <p>Please login with your google account</p>
        </div>
    </div>
    <hr/>
    <a href="/auth/google"><i class="fa-brands fa-google"></i>LOG IN WITH GOOGLE</a>
<div>