.login-container {
    width: 50vw;
    height: 50vh;
    margin: 25vh auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.login-container a {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 32.5%;
    width: 35%;
    height:40px;
    background-color:rgb(232, 9, 9);
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}
.login-container a:hover {
    background-color:rgb(217, 13, 13);
    transition: all 1 ease-in-out;
}
.login-title {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 65%;
}
.login-title p {
    line-height: 1;
}
.login-title p:first-child {
    margin-left: 15px;
}

.sub-title {
    margin-top: 50px;
    margin-bottom: -50px;
}
.fa-google {
    margin-right: 20px;
}